/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';
// Fonts
// @include font-face("Arial", '../fonts/Arial', normal, normal);


// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/form';
@import 'core/grid';


// Main wrappers =====================================

@import 'vendor/modal';
@import 'vendor/tabs';
// @import 'vendor/select2';

@import 'core/filter';
@import 'core/width';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/template';
@import 'core/header';
@import 'core/title__box';
@import 'core/icon';
@import 'core/sidebar';
@import 'core/table';
@import 'core/tabs';
@import 'core/radio__grid';
@import 'core/add__project';


.form {
	&__row {
		@extend %clear_a;
		+ .form__row {
			margin-top: 28px;
		}
	}
	&__label {
		display: inline-block;
	}
	&__check,&__radio {
		float: left;
		margin-right: 8px;
		+ .form__label {
			overflow: hidden;
		}
	}
	&__check {

	}
	&__radio {

	}
	&__field {
		&.dots {
			position: relative;
			input {
				padding-right: 30px;
			}
			.icon {
				position: absolute;
				right: 3px;
				top: 0;
				cursor: pointer;
				color: #000;
				transition: color 0.3s;
				&:hover {
					text-decoration: none;
					color: lighten(#000, 50%);
				}
			}		
		}
	}
	&__date {
		display: inline-block;
	}
	&__stacked {
		.form {
			&__label {
				float: left;
				width: 90px;
			}
			&__field {
				overflow: hidden;
			}
		}
	}
}





/* Footer
 ----------------------------------------------------------------------------- */
// .footer {
// 	position: relative;
// 	height: $footer_height;
// 	background: #BFF08E;
// 	@extend %clear_all;
// 	.container_center {
// 		padding-top: 10px;
// 		padding-bottom: 10px;
// 	}
// }

