extends template.jade

block breadcrumb
	li
		a(href="#") Проекты
	li
		a(href="#" class="active") Добавление проекта

block titlepage
	|Добавление проекта

block content
	.content__wrap
		// begin tabs__swicher 
		.tabs__swicher
			a(href="#").tabs__swicher_item Настройки
			a(href="#").tabs__swicher_item Тесты и нормы
			a(href="#").tabs__swicher_item Отчеты
			a(href="#").tabs__swicher_item.active Администраторы
			a(href="#").tabs__swicher_item Биллинг
			a(href="#").tabs__swicher_item Итоги

		// end tabs__swicher 

		// begin radio__swicher 
		.radio__swicher
			.radio__swicher_wrap
				input(type="radio" name="swicher" id="group1")
				label.radio__swicher_item(for="group1") По группам
				input(type="radio" name="swicher" id="group2" checked)
				label.radio__swicher_item(for="group2") По администраторам
		// end radio__swicher 

		// begin tabs__content 
		.tabs__content

			// begin tests__grid
			.content__grid
				// begin title row 
				.content__grid_title_row
					.width__3
						.content__grid_title Администраторы
					.width__3
						.content__grid_title Тесты
					.width__3
						.content__grid_title Группы
					
				// end title row 

				// begin line 1 
				.content__grid_row
					.content__grid_first
						.content__grid_label Шатров Юрий
						.content__grid_label-sub ЭКОПСИ
					.content__grid_group
						.content__grid_group-row
							.content__grid_item
								.form__field_wrap
									.content__grid_sublink ЭКОПСИ →
									.content__grid_label PIF LA
								
							.content__grid_item
								.form__field_wrap
									

						.content__grid_group-row
							.content__grid_item
								.form__field_wrap
									.content__grid_label PIF 5.5
								
							.content__grid_item
								.form__field_wrap
									.content__grid_sublink
										a(href="#") Права
									.form__field
										select.add(name="")
											optgroup(label="ЭКОПСИ")
												option(value="Шатров Юрий") Шатров Юрий
												option(value="Павел Безручко") Павел Безручко
											optgroup(label="Клиент")
												option(value="Греф Станислав") Греф Станислав

		// begin tabs__foot 
		.tabs__foot
			button.btn.btn__info ← Назад
			button.btn Далее →
		// end tabs__foot 
