aside.sidebar
	.sidebar__wrap
		.sidebar__content

			.sidebar__title Типы
			ul.sidebar__list
				li
					.form__check
						input(type="checkbox" id="ch1")
					label.form__label(for="ch1") Опрос 360°
				li
					.form__check
						input(type="checkbox" id="ch2")
					label.form__label(for="ch2") Линейный опрос
				li
					.form__check
						input(type="checkbox" id="ch3")
					label.form__label(for="ch3") Тестирование
				li
					.form__check
						input(type="checkbox" id="ch4")
					label.form__label(for="ch4") Workflow
				li
					.form__check
						input(type="checkbox" id="ch5")
					label.form__label(for="ch5") Realtime Feedback

			.sidebar__title Состав
			ul.sidebar__list
				li
					.form__radio
						input(type="radio" id="rd1" name="sostav")
					label.form__label(for="rd1") Все
				li
					.form__radio
						input(type="radio" id="rd2" name="sostav")
					label.form__label(for="rd2") Все кроме архивных
				li
					.form__radio
						input(type="radio" id="rd3" name="sostav")
					label.form__label(for="rd3") Архивные
