head

	meta(charset="UTF-8")
	block title
		title Project
	meta(name="keywords" content="")
	meta(name="description" content="")
	meta(name="viewport" content="width=1024")

	link(href="css/style.css" rel="stylesheet")
	link(href="css/select2.css" rel="stylesheet")

	// Удалить modal.js и tab.js если подключен bootstrap
	script(src="js/jquery.js")
	script(src="js/select2.min.js")
	script(src="js/function.js")
	script(src="js/modal.js")
	script(src="js/tab.js")
