header.header

	a.header__logo
		img(src="img/logo.png")

	// begin header__user 
	.header__user
		.header__user_ava
			.header__user_ava-img
				img(src="img/avatar.png", alt="")
		.header__user_name Гурбангулы <br>Бердымухаммедов
		.header__user_action
			span.icon.icon__logout
	// end header__user 

	// begin navbar 
	ul.header__nav

		li
			a ПРОЕКТЫ
		li
			a ДОКУМЕНТАЦИЯ
		li
			a НАСТРОЙКИ
		li
			a БИБЛИОТЕКА
		li
			a ПОИСК

	// end navbar 


