extends template.jade

block breadcrumb
	
block titlepage 
	|Проекты
block content
	.filter
		.filter__top
			.filter__top_toggle Фильтры
				span.icon.icon__drop
		.filter__content
			// begin grid_filter__grid
			.grid.filter__grid
				div
					.filter__search
						input(type="text" placeholder="Поиск по названию")
						.icon.icon__search
				div
					select(name="")
						option(value="") Любой тип
						option(value="") item2
						option(value="") item3

				div
					select(name="")
						option(value="") Все клиенты
						option(value="") Вымпелком
						option(value="") Сбербанк
						option(value="") Экопси консалтинг
						option(value="") Tele 2

				div
					select(name="")
						option(value="") Все мненджеры 1
						option(value="") Все мненджеры 2
						option(value="") Все мненджеры 3

			// end grid_filter__grid
			
			.filter__bottom
				.filter__bottom_toggle Больше фильтров
					span.icon.icon__drop
				.filter__bottom_wrap
					.filter__bottom_more
						// begin filter__bottom_grid
						.grid.filter__bottom_grid
							div
								.form__check
									input(type="checkbox")
								label.form__label Искать в архивах
							div
								label.form__label Добавлен
								.form__date
									input(type="datetime" placeholder="ДД.ММ.ГГГГ")
							div
								label.form__label Последнее действие
								.form__date
									input(type="datetime" placeholder="ДД.ММ.ГГГГ")

						// end filter__bottom_grid
						
					.filter__bottom_action
						a.filter__bottom_check
							span.icon.icon__check-o
							| Применить
						a.filter__bottom_clear Очистить

	.add__project
		a.btn(href="#" data-toggle="modal" data-target="#modal__add") Добавить проект

	// begin table 
	table.table.table__projects
		thead
			tr
				th
					.form__check
						input(type="checkbox")
					label.form__label ID
				th Название
				th Тип
				th Клиент
				th Создан 
					.icon__caret_down
				th Менеджер
				th Оцениваемые
		tbody
			tr.primary
				td 
					.form__check
						input(type="checkbox")
					label.form__label 38
				td
					a(href="#") Экопси 2014 боевой
				td Опрос 360°
				td Экопси консалтинг
				td Сегодня
				td Константинопольский Ко..
				td 80
			tr.muted.selected
				td 
					.form__check
						input(type="checkbox" checked)
					label.form__label 38
				td
					a(href="#") Экопси 2014 боевой
				td Опрос 360°
				td Экопси консалтинг
				td Сегодня
				td Константинопольский Ко..
				td 80
			tr.success.selected
				td 
					.form__check
						input(type="checkbox" checked)
					label.form__label 38
				td
					a(href="#") Экопси 2014 боевой
				td Опрос 360°
				td Экопси консалтинг
				td Сегодня
				td Константинопольский Ко..
				td 80
			tr.danger
				td 
					.form__check
						input(type="checkbox")
					label.form__label 38
				td
					a(href="#") Экопси 2014 боевой
				td Опрос 360°
				td Экопси консалтинг
				td Сегодня
				td Константинопольский Ко..
				td 80
			tr.warning
				td 
					.form__check
						input(type="checkbox")
					label.form__label 38
				td
					a(href="#") Экопси 2014 боевой
				td Опрос 360°
				td Экопси консалтинг
				td Сегодня
				td Константинопольский Ко..
				td 80
			tr.secondary
				td 
					.form__check
						input(type="checkbox")
					label.form__label 38
				td
					a(href="#") Экопси 2014 боевой
				td Опрос 360°
				td Экопси консалтинг
				td Сегодня
				td Константинопольский Ко..
				td 80

	// end table 

	// begin Modal modal__add 
	.modal.fade.modal__add#modal__add
		.modal-dialog
			.modal-content
				a(href="#" class="modal-close" data-dismiss="modal")
				.modal-header
					.modal-title#myModalLabel Добавление тестируемого
				.modal-body
					.modal-body__title Банкротство, учитывая отсутствие в законе норм
					p Страховая сумма гарантирует Кодекс. Причиненный ущерб, в согласии с традиционными представлениями, использует юридический договор. 
					p В отличие от решений судов, имеющих обязательную силу, регистрация латентно вознаграждает товарный кредит. Указ статистических наблюдений, реквизирует закон, хотя законодательством может быть установлено иное. 

					.form.form__add
						// begin grid_add
						.grid.grid__3.grid_add
							.grid__wrapper
								.form__field.form__field_icon
									// При ошибке можно добавить класс invalid
									input(type="text" id="f1" placeholder="")
									label(for="f1") Фамилия 
										span.red *
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper
								.form__field.form__field_icon
									input(type="text" id="f2" placeholder="")
									label(for="f2") Имя 
										span.red *
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper
								.form__field.form__field_icon
									input(type="text" id="f3" placeholder="")
									label(for="f3") Отчество 
										span.red *
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper
								.form__field.form__field_icon
									input(type="text" id="f4" placeholder="")
									label(for="f4") Телефон 
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper
								.form__field.form__field_icon
									input(type="text" id="f5" placeholder="")
									label(for="f5") Город 
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper
								.form__field.form__field_icon
									input(type="text" id="f6" placeholder="")
									label(for="f6") Адрес 
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper.width_2
								.form__field.form__field_icon
									input(type="text" id="f7" placeholder="")
									label(for="f7") E-mail 
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper.width_2
								.form__field.form__field_icon
									input(type="text" id="f8" placeholder="")
									label(for="f8") Должность 
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper.width_1
								.form__check.form__field_icon
									input(type="checkbox" id="ch1")
									label(for="ch1") Опрос 360°
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
								.form__check.form__field_icon
									input(type="checkbox" id="ch2")
									label(for="ch2") Линейный опрос
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
								.form__check.form__field_icon
									input(type="checkbox" id="ch3")
									label(for="ch3") Тестирование
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
							.grid__wrapper.width_1
								.form__select.form__field_icon.width__3
									i.icon__quest.tooltip(title="<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto veniam reiciendis, cupiditate voluptatibus similique culpa quisquam quam, nemo natus commodi architecto consequuntur, earum voluptates harum sapiente nam ea! Rerum.</p> <a href=''> Lorem ipsum dolor.</a>")
									.form__select_wrap
										select.select-lg(name="" data-placeholder="Выбрать")
											option(value="") 
											option(value="Русский") Русский
											option(value="Китайский") Китайский
											option(value="Корейский") Корейский
							.grid__wrapper.width_1
								// begin 
								.grid.grid__3
									.grid__wrapper
										.form__select.form__field_icon
											.form__select_wrap
												select.select-lg(name="" data-placeholder="Выбрать")
													option(value="") 
													option(value="Русский") Русский
													option(value="Китайский") Китайский
													option(value="Корейский") Корейский
									.grid__wrapper
										.form__select.form__field_icon
											.form__select_wrap
												select.select-lg(name="" data-placeholder="Выбрать")
													option(value="") 
													option(value="Русский") Русский
													option(value="Китайский") Китайский
													option(value="Корейский") Корейский
								// end 
								
						// end grid_add
						
				.modal-footer
					button.btn Добавить
					button.btn.btn__info Отмена
	// end modal modal__add 