<!DOCTYPE html>
html(lang="en")
	
	include head.jade

	body
		.wrapper
			
			// begin header
			include header.jade
			// end header

			// begin title_box
			include title_box.jade
			// end title_box

			// begin aside
			include aside.jade
			// end aside

			// begin main__content
			main.main__content
				
				block content

			// end main__content 
