.title__box
	.title__box_wrap
		.title__box_left
			// begin breadcrumb 
			ul.breadcrumb
				block breadcrumb
			// end breadcrumb 
			block titlepage
		.title__box_right
			img(src="img/sberbank.png", alt="")
