.radio__grid {
	> div {
		margin-bottom: 0;
	}
	input {
		display: none;
		&:checked {
			+ label {
				.radio__grid {
					&_name {
						color: #000000;
					}
					&_img {
						background-color: #f9f9f9;
						box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
					}
				}
			}
		}
	}
	&_label {
		text-align: center;
		cursor: pointer;

	}
	&_name {
		color: #666666;
		font-size: 13px;
		margin-bottom: 8px;
	}
	&_img {
		border: 1px solid #d2d2d2;
		width: 110px;
		height: 87px;
		background-color: #fff;
		text-align: center;
		border-radius: 2px;
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 87px;
		}
		img {
			vertical-align: middle;
			display: inline-block;
		}
	}
}
