.select2 {
	&-container--default {
		.select2-container__add {
			.select2-results {
				&__option {
					font-size: 16px;
					// display: block;
					.select2-results__option {
						padding: 4px 10px 4px 37px;

					}
				}
				&__group {
					font-size: 16px;
					padding: 8px 16px 2px;
					display: block;
					margin: 0;
				}
			}
		}
	}

	&-results {
		&__add {
			font-size: 17px;
			display: block;
			padding: 8px 14px 5px;
			border-bottom: 1px solid #e9e9e9;
			&:before {
				content: url('../img/add.svg');
				display: inline-block;
				vertical-align: text-top;
				margin-right: 4px;
			}
		}
	}

	&-container__lg {
		&.select2 {
			&-container {
				&--open {
					.select2 {
						&-selection {
							&--single {
								border: 1px solid #3bac67;
							}
						}
					}
				}
			}
		}
		.select2 {
			&-dropdown {
				border: 1px solid #3bac67;
			}
		}
		.select2-results__option {
			padding: 14px 21px;
			font-size: 16px;
			color: #111111;
			&--highlighted[aria-selected] {
				background-color: #c9ffde;
				color: #111111;
			}
		}
	}
}

